/*================
 Classes Pag Section 
==================*/

.classes-pag{
	padding-top: 120px;
	padding-bottom: 96px;
}
.classes-pag .classes-box{
	border: 1px solid rgba(197, 52, 35, 20%);
	padding: 30px;
	border-radius: 20px;
	margin-bottom: 24px;
}
.classes-pag .classes-box:hover{
	border: 1px solid var(--main-color);
	transition: 0.4s;
}
.classes-pag .classes-box img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
}
.classes-pag .classes-box .heading{
	font-size: 28px;
	line-height: 1.200;
	margin-top: 25px;
	text-transform: capitalize;
}
.classes-pag .classes-box p{
	margin-top: 15px;
	margin-bottom: 20px;
}
.classes-pag .classes-box a{
	color: var(--title-color);
	transition: 0.3s;
}
.classes-pag .classes-box:hover a{
	color: var(--main-color);
}
.classes-pag .classes-box a i{
	margin-left: 10px;
}

/* Responsive */

@media (max-width: 767px) {
	.classes-pag{
		padding: 80px 0px;
	}
	.classes-pag .col-lg-4.col-md-6:last-child .classes-box{
		margin-bottom: 0px;
	}
}