.shadow {
        box-shadow: 0 0.0625rem 0.125rem 0.0625rem #00000026;
        }  
    
    
      
      /*--------------------------------------------------------------
      # General Styling & Shared Classes
      --------------------------------------------------------------*/
   
      
      a {
        color: var(--accent-color);
        text-decoration: none;
        transition: 0.3s;
      }
      
      a:hover {
        color: color-mix(in srgb, var(--accent-color), transparent 25%);
        text-decoration: none;
      }
      
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: var(--heading-color);
        font-family: var(--heading-font);
      }
      
      /* Pulsating Play Button
      ------------------------------*/
      .pulsating-play-btn {
        width: 94px;
        height: 94px;
        background: radial-gradient(var(--accent-color) 50%, color-mix(in srgb, var(--accent-color), transparent 75%) 52%);
        border-radius: 50%;
        display: block;
        position: relative;
        overflow: hidden;
      }
      
      .pulsating-play-btn:before {
        content: "";
        position: absolute;
        width: 120px;
        height: 120px;
        animation-delay: 0s;
        animation: pulsate-play-btn 2s;
        animation-direction: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: steps;
        opacity: 1;
        border-radius: 50%;
        border: 5px solid color-mix(in srgb, var(--accent-color), transparent 30%);
        top: -15%;
        left: -15%;
        background: rgba(198, 16, 0, 0);
      }
      
      .pulsating-play-btn:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 100;
        transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      
      .pulsating-play-btn:hover:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-40%) translateY(-50%);
        width: 0;
        height: 0;
        border: none;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
        z-index: 200;
        animation: none;
        border-radius: 0;
      }
      
      .pulsating-play-btn:hover:after {
        border-left: 15px solid var(--accent-color);
        transform: scale(20);
      }
      
      @keyframes pulsate-play-btn {
        0% {
          transform: scale(0.6, 0.6);
          opacity: 1;
        }
      
        100% {
          transform: scale(1, 1);
          opacity: 0;
        }
      }
      
      
      /*--------------------------------------------------------------
      # Global Header
      --------------------------------------------------------------*/
      .header {
        color: var(--default-color);
        transition: all 0.5s;
        z-index: 997;
        background-color: var(--background-color);
        background-color: #707070;
        max-width: 100% !important;
        /*width: 75em !important;*/
      }
      
      .header .topbar {
        background-color: var(--accent-color);
        height: 40px;
        padding: 0;
        font-size: 14px;
        transition: all 0.5s;
        height: 5em !important;
       
       
    
        @media (max-width: 575px) { height: 30%;
                                    min-height: 5em;
                                    margin-bottom: 2em; }
      }
        
      
    /** Lass to show contact-info in small screens**/
      .showlogo{
        @media (max-width: 760px) {
          display: flex ;
          flex-direction: column ;
          justify-content: center ;
          flex-wrap: wrap ;
          margin-bottom: 1em;
          margin-top: 1em;
          
         }
    }
    

      
      
      .header .topbar .social-links a {
        color: color-mix(in srgb, var(--contrast-color), transparent 40%);
        line-height: 0;
        transition: 0.3s;
        margin-left: 20px;
        
      }
      
      .header .topbar .social-links a:hover {
        color: var(--contrast-color);
      }
      
      .header .branding {
        min-height: 60px;
        padding: 10px 0;
      }
      
  
      .header .cta-btn,
      .header .cta-btn:focus {
        color: var(--contrast-color);
        background: var(--accent-color);
        font-size: 14px;
        padding: 8px 25px;
        margin: 0 0 0 30px;
        border-radius: 50px;
        transition: 0.3s;
      }
      
      .header .cta-btn:hover,
      .header .cta-btn:focus:hover {
        color: var(--contrast-color);
        background: color-mix(in srgb, var(--accent-color), transparent 15%);
      }
      
      @media (max-width: 1200px) {
        .header .logo {
          order: 1;
        }
      
        .header .cta-btn {
          order: 2;
          margin: 0 15px 0 0;
          padding: 6px 15px;
        }
      
        
      }
      
/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  
  .brand-group {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 3em;
    @media (max-width: 760px) {display: none;}
   }

    /*** Styles to move the menu options to the center in small screens **/
    .litScreenDontShow { @media (max-width: 760px) { display: none;}}

    
 
    .user-icon,
    .cart-icon {
    width: 24px;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    }
    .cart {
    position: relative;
    cursor: pointer;
    }
    .cart-count {
    background-color: var(--accent-color) !important;
    font-size: 0.9em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -4px;
    right: -8px;
    }
    .cart-total {
    font-size: 0.8em;
    position: absolute;
    bottom: -12px;
    left: 0px;
    }
.Buttonlogin{ @media (max-width: 760px) { 
    position: relative;
    top: 2em;}}

.cartGroup { @media (max-width: 760px) { 
    position: relative;
    top: 4em;
    background-color: rgb(0, 110, 255); 

}}

/* Button */

.Buttonlogin .btn{
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.1;
	background-color: var(--main-color);
	display: inline-block;
	padding: 15px 32px;
	border-radius: 50px;
	transition: 0.5s;
}
.Buttonlogin .btn i{
	font-size: 15px;
	margin-left: 10px;
}

.Buttonlogin .btn:hover { color:black; background-color: #5a85d4;}