.img-fluid {
    max-width: 100%;
    height: 520px;
  }
  .window {
    background: rgb(58,145,170);
    background: linear-gradient(35deg, rgba(58,145,170,0.9570027840237657) 0%, rgba(147,192,231,0.9794117476091999) 100%, rgba(114,157,171,0.6432772938276874) 100%); 
    border-color: #797878;
   
   
  }
  .window .nav_logo-name {
    font-size: 26px;
  }
  .window .formLogin {
    color: #ffffff;
    padding-right: 20px;
  }
  .window .formLogin .input {
    border: none;
    background-color: #ffffff;
    color: #000000;
    transition: all 0.2s ease-in-out;
  }
  .window .formLogin .input:focus {
    outline: none;
    box-shadow: none;
  }
  .window .btnLogin {
    border: none;
    background-color: #1c7ae6;
    color: #ffffff;
    box-shadow: 1px 0 10px #eed7df;
    transition: all 0.2s ease-in-out;
  }
  #btnLogin:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  #btnLogin:hover {
    background-color: #3e5e7c !important;
    border-color: #131212 !important;
    box-shadow: none !important;
    outline: none !important;
    color: #ffffff !important;
  }
  
  .form-control { @media (max-width: 760px) { 
   width: 100%; height: 50em; }}

  .btnLogin { @media (max-width: 760px) { 
    width: 70% !important; }}

  .windowsSSheight { @media (max-width: 760px) { 
      height: 48em !important;
      overflow: auto;
      overflow-wrap: anywhere;
      overflow-y: scroll;
    }}

    .container { @media (max-width: 760px) { 

        min-height: 90em;
    }}

    #password{@media (max-width: 760px){

      height: fit-content;
      max-width: 120%;
    }}

     #btnLogin{@media (max-width: 760px){

      height: fit-content;
      max-width: 70%;
    }}

    .form-control {@media (max-width: 760px){

      max-height: 3em !important;
      max-width: 10vh;
    }}