 /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: var(--background-color);
    transition: all 0.6s ease-out;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ffffff;
    border-color: var(--accent-color) transparent var(--accent-color) transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  
  .welcomeImage{
    
    @media (max-width: 760px) {
   
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          position: relative;
          top:-10em }
          
  }
  

   .welcome h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
  }
  
   .welcome p {
    font-size: 24px;
    margin: 0;
  }



/**************** end of first section -----------------*/

#page1 {
    height: 100vh;
    display: flex;
    position: relative;
    top: 1vh;
    align-items: center;
    flex-direction: column;
    @media (max-width: 760px) { margin-top: -3em;}
}

#page1 h1 {
    font-size: 82px;
    font-family: 'Arial';
    font-weight: 900;
    color: rgb(228, 231, 245);
    position: relative;
}

#page1 h1::before{
    content:"SWEAT. SMILE. REPEAT.";
    position: absolute;
    color: aquamarine;
    top: -2px;
    left: -2px;
    z-index: -1;
    -webkit-text-stroke: 2px red;

}

#page1 h2 {
    background-color: #040D12;
    margin-top: 2vh;
    border: 2px solid #ffffff;
    font-size: 40px;
    font-family: 'montserat';
    font-weight: 500;
    padding: 2px 50px 2px;
    color: #ffffff;
}

#page1 h2 span,span{
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(255, 1, 1);
}

#page1 p {
    border:2px solid #ffffff;
    margin-top: 4vh;
    font-size: 25px;
    padding: 2px 50px 2px;
    background-color: #040D12;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-align: center;
    
    /* text-shadow: 18px 18px 14px rgba(0, 0, 0, 0.5); */
}

.imageIntro {@media (max-width: 760px) {

    padding-top: 4em !important;

}}