/*=================
 Package Section
===================*/

.package-section{
	padding: 120px 0px;
}
.package-section .top{
	position: relative;
	margin-bottom: 60px;
}
.package-section .top .button{
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.package-section .top .button .btn:hover{
	background-color: var(--title-color);
}
.package-section .package-box{
	border: 1px solid rgba(112, 112, 112, 40%);
	border-radius: 20px;
	transition: 0.3s;
	padding: 45px 50px 45px 45px;
}
.package-section .package-box:hover{
	border: 1px solid var(--main-color);
}
.package-section .package-box .box-head{
	padding-bottom: 35px;
	border-bottom: 1px solid rgba(112, 112, 112, 40%);
	transition: 0.3s;
}
.package-section .package-box:hover .box-head{
	border-bottom: 1px solid var(--main-color);
}
.package-section .package-box .box-head .price-title{
	font-weight: 500;
	color: var(--main-color);
	text-transform: capitalize;
	margin-bottom: 20px;
}
 .price{
	color: var(--title-color);
	font-size: 40px;
	font-weight: 600;
	line-height: 1.08;
} 
.package-section .package-box .box-body{
	margin-top: 35px;
	margin-bottom: 45px;
}

  .button .btn{
	color: var(--main-color);
	background-color: #fff;
	border: 1px solid var(--main-color);
	padding: 16px 48px;
	transition: 0.5s;
	display: block;
}
 .button .btn.active{
	color: #fff;
	background-color: var(--main-color);
} 

.button .btn:hover{
	background-color: var(--main-color);
	color: #fff !important;
	#right-arrow{
	
		color: rgb(241, 240, 239) !important;
	}
}



#right-arrow{
	
	color: rgb(206, 82, 33) !important;
}

/* Responsive */

@media (max-width: 1199px) {
	.package-section .col-lg-6:last-child{
		margin-top: 30px;
	}
}
@media (max-width: 991px) {
	.package-section .package-box{
		padding: 45px 38px;
	}
	.package-section .package-box .button .btn{
		font-size: 17px;
	}
}
@media (max-width: 767px) {
	.package-section{
		padding: 80px 0px;
	}
	.package-section .top .button{
		position: static;
		margin-top: 30px;
	}
	.package-section .package-box{
		padding: 40px 18px;
	}
	.package-section .package-box .box-body ul li{
		font-size: 17px;
	}
	.package-section .col-lg-6:first-child{
		margin-bottom: 30px;
	}
	.package-section .package-box .button .btn{
		font-size: 13px;
		padding: 15px 19px;
	}
}



